/*Variables*/
:root{
    
    --alt-back-color: lightgray;

    
    --inverse-back-color: #262626;

    --hover-accent-color: #ee9a00;
    --active-accent-color: #dd8f00;
        --navbar-scrolled-back-color: rgba(38, 38, 38, .96);
    
    --skill-item-size: 80px;
}


/*===================== Hide the scrollbar =======================*/


/*Styling*/
/*Elements*/




/*Classes*/
.page-section{
    display: flex;
    flex-direction: column;
}

.section-title{
    align-self: center;
}

/*ID's*/
/*======================== NAVIGATION =======================*/


#logo{
    margin: 0 10px;
}

#navigation{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#nav-menu-container{
    

    width: 325px;
    
}

#socials{
    margin: 0 10px;
}
/*======================== CONTENT =======================*/
#content-wrapper{
    overflow-y: auto;

    flex: 1 1 auto;
}
/*======================== HOME SECTION =======================*/








/*======================== ABOUT SECTION =======================*/
#about{
    /*Change or remove this*/
    background: var(--alt-back-color);

    display: flex;
    justify-content: center;
    align-items: center;
}



/*======================== SKILLS SECTION =======================*/




.skills-category-box{
    /*flex: 0.5;*/
}

.skills-box li{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    margin: 7px;
    padding: 0 2px;

    /*flex-basis: var(--skill-item-size);

    display: flex;
    justify-content: center;
    align-items: center;*/
}

.skills-box li label{
    text-align: center;
}



/*MEDIA QUERIES*/
/*Phones*/
@media screen and (max-width: 720px){
    /*Classes*/
    .hamburger-button-toggled{
        background: var(--hamburger-toggled-background);
        color: var(--inverse-fore-color);
    }

    .nav-menu-container{
        max-height: 0;
        transition: max-height 0.8s; 
        z-index: -1000;
    }

    .hamburger-menu-toggled{
        z-index: 1000;
        max-height: 200px;
    }
/*======================== ABOUT SECTION =================================*/
    .skills-box{
        justify-content: center;
    }

    /*ID's*/

    #navigation{
        position: relative;
    }
    #hamburger-button{
        display: flex;
    }

    #nav-menu-container{
        background: var(--hamburger-toggled-background);
        position: absolute;
        top: var(--navbar-height);
        width: 100vw;
        flex-direction: column;
    }

    #nav-menu-container li{
        flex-basis: 40px; 
        display: flex;  
    }

    #nav-menu-container li a{
        width: 100%;
        padding-left: 10px;
        color: var(--inverse-fore-color);
        display: flex;
        align-items: center;
    }

    #nav-menu-container li a:hover{
        background: var(--inverse-back-color);
        color: var(--accent-color);
    }

    #socials{
        display: none;
    }

    /*======================== ABOUT SECTION  MOBILE=======================*/

    #about-message{
        font-size: 16px;
        padding: 20px;
    }
}
