::-webkit-scrollbar,
::-moz-scrollbar
{ 
    display: none; 
}

/*============ Variables ============;*/
:root{
    --back-color: #fafafa;
    --fore-color: #262626;
    --inverse-fore-color: #fafafa;
    --accent-color: #ffa500;

    --navbar-height: 50px;
}

/*======================== BODY ============================*/
/*----------- Elements ----------*/
*{
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    font-family: "Helvetica", "Arial", "sans-serif";
    background: var(--back-color);
    color: var(--fore-color);
}

a{
    text-decoration: none;
    color: var(--fore-color);
}

a:hover{
    color: var(--accent-color);
}

/*======================== NAVIGATION BAR=======================*/
/*----------- ID's ----------*/
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);

    /*Flex parent properties*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-bar{
    /*FLex child properties*/
    align-self: stretch;

    /*Flex parent Properties*/
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#hamburger-button{
    cursor: pointer;

    /*Flex child properties*/
    width: var(--navbar-height);

    /*Flex parent properties*/
    display: none;
    justify-content: center;
    align-items: center;
}

#hamburger-button:hover{
    color: var(--accent-color);
}

#nav-menu-container{
    list-style-type: none;

    /*Flex child properties*/
    flex-basis: 350px;

    /*Flex parent properties*/
    display: flex;
    justify-content: space-around;
}

#socials{
    /*Flex child properties*/
    flex-basis: 75px;

    /*Flex parent properties*/
    display: flex;
    justify-content: space-between;
}

/*======================== CONTENT =======================*/
#content{
    /*Change or remove this*/
    /*background: blue;*/
}

/***************** HOME SECTION ********************/
#home{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-content{
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

#home-content h1{
    font-size: 300%;
    color: var(--accent-color);
}

#home-content h3{
    font-size: 150%;
}

#home-footer{
    font-size: 14px;

    flex: 0 0 auto;
    flex-basis: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/***************** ABOUT SECTION ********************/
#about{
    /*Change or remove this*/
    background: red;

    padding-top: var(--navbar-height);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-message{
    font-size: 19px;
    max-width: 850px;
    padding: 50px;
}

/***************** SKILLS SECTION ********************/
#skills{
    /*Change or remove this*/
    background: blue;

    padding-top: var(--navbar-height);

    /*Flex parent properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-boxes-container{
    /*Change or remove this*/
    background: green;
    width: 400px;
    
    /*Flex parent properties*/
    display: flex;
}

.skills-category-box{
    /*Change or remove this*/
    background: brown;

    /*Flex child properties*/
    flex: 1;

    /*Flex parent properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-box{
    /*Change or remove this*/
    background: pink;

    list-style-type: none;

    /*Flex parent properties*/
    display: flex;
    flex-direction: column;
    align-items: center;

}

/***************** PROJECTS SECTION ********************/
#projects{
    padding-top: var(--navbar-height);

    /*Flex parent properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-container{
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-content: center;*/
}

/*----------- Classes ----------*/
.project{
    /*Change or remove this*/
    background: lightgray;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
}


/***************** CONTACT SECTION ********************/
#contact{
    padding: var(--navbar-height) 0;

    /*Flex parent properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form{
    padding: 10px;

    /*Flex child properties*/
    flex-basis: 350px;

    /*Flex parent properties*/
    display: flex;
    flex-direction: column;
}

#contact-form input{
    height: 35px;
}

#user-ct-info-box{
    display: flex;
}

#user-ct-info-box *{
    flex: 1;
}

#message-tb{
    width: 1000px;
    
    /*Flex child properties*/
    flex: 1;
}

#send-email-btn{
    width: 100px;
    align-self: center;
}

/*----------- Classes ----------*/
.form-control{
    margin: 10px;
    background: #efefef;
    border: 0;
    box-shadow:none;
}

.btn-primary{
    color: var(--inverse-fore-color);
    background: var(--accent-color);
}


/***************** FOOTER ********************/
#footer{
    background: var(--accent-color);
    height: 75px;

    /*Flex parent properties*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    color: var(--inverse-fore-color);
    font-size: 25px;
    padding-bottom: 4px;
    margin: 0 10px;
}

.footer-icon:hover{
    color: var(--inverse-fore-color);
    border-color: var(--fore-color);
    border-width: 0 0 5px 0;
    border-style: solid;
}





















/*+++++++++++++++++++++++++++++++++++++++++++++++++ MOBILE STYLING ++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 720px){
    #navbar{
        /*Flex parent properties*/
        flex-direction: column;
        align-items: stretch;

    }

    #mobile-bar{
        min-height: var(--navbar-height);
    }

    #hamburger-button{
        display: flex;
    }

    #nav-menu-container{
        /*Flex child properties*/
        flex-basis: 250px;

        /*Flex parent properties*/
        flex-direction: column;
        align-items: center;
    }

    #socials{
        flex-basis: 40px;
    }

    #socials a{
        /*Flex child properties*/
        flex: 1;

        /*Flex parent properties*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #socials a:hover{
        background: lightcoral;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++ 4K STYLING ++++++++++++++++++++++++++++++++++++++++++++++*/
















/*vvvvvvvvvvvvvvvvvvvvvvvvv DELETE THIS STUFF vvvvvvvvvvvvvvvvvvvvvvvvvv*/
#travel-map{
    background: lightgreen;
    width: 80%;
    max-width: 1280px;
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: center;

}
