/*Variables*/
:root{
    --back-color: #fafafa;
    --fore-color: #262626;
    --inverse-fore-color: #fafafa;
    --inverse-back-color: #262626;
    --accent-color: #ffa500;
    --hover-accent-color: #ee9a00;
    --active-accent-color: #dd8f00;
    --hamburger-toggled-background: rgba(38, 38, 38, .96);
    --navbar-height: 50px;
}

/*Hide the scrollbar*/
::-webkit-scrollbar { 
    display: none; 
}

/*Styling*/
/*Elements*/
*{
    margin: 0px;
    padding: 0px;
}

html, body {
    /*Other properties*/
    height: 100%;
    font-family: "Helvetica", "Arial", "sans-serif";
    background: var(--back-color);
    color: var(--fore-color);
}

body{
    /*Flex as parent*/
    display: flex;
    flex-direction: column;
}

/*Classes*/


/*ID's*/
#navbar{
    height: 50px;
    border-style: solid;
    border-color: var(--fore-color);
    border-width: 0 0 2px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    color: var(--fore-color);
}

#navbar a:hover{
    color: var(--accent-color);
}

#logo{
    margin: 0 10px;
}

#navigation{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hamburger-button{
    cursor: pointer;
    width: var(--navbar-height);

    display: none;
    flex-basis: var(--navbar-height);
    justify-content: center;
    align-items: center;
}

#hamburger-button:hover{
    color: var(--accent-color);
    background: var(--inverse-back-color);
}

#nav-menu-container{
    list-style-type: none;

    width: 325px;
    display: flex;
    justify-content: space-between;
}

#socials{
    margin: 0 10px;
}

#content-wrapper{
    /*Delete or change this*/
    /*background: blue;*/


    flex: 1 1 auto;
}

/*MEDIA QUERIES*/
/*Phones*/
@media screen and (max-width: 580px){
    /*Classes*/
    .hamburger-button-toggled{
        background: var(--hamburger-toggled-background);
        color: var(--inverse-fore-color);
    }

    .nav-menu-container{
        max-height: 0;
        transition: max-height 0.8s; 
        z-index: -1000;
    }

    .hamburger-menu-toggled{
        z-index: 1000;
        max-height: 200px;
    }

    /*ID's*/
    #navigation{
        position: relative;
    }
    #hamburger-button{
        display: flex;
    }

    #nav-menu-container{
        background: var(--hamburger-toggled-background);
        position: absolute;
        top: var(--navbar-height);
        width: 100vw;
        flex-direction: column;
    }

    #nav-menu-container li{
        flex-basis: 40px; 
        display: flex;  
    }

    #nav-menu-container li a{
        width: 100%;
        padding-left: 10px;
        color: var(--inverse-fore-color);
        display: flex;
        align-items: center;
    }

    #nav-menu-container li a:hover{
        background: var(--inverse-back-color);
    }

    #socials{
        display: none;
    }
}















































/* Layout
_______________________
|__________nav_________|
|                      |
|                      |
|         home         |
|                      |
|----------------------|
|                      |
|                      |
|         about        |
|                      |
|----------------------|
|                      |
|                      |
|         skills       |
|                      |
|----------------------|
|                      |
|                      |
|       projects       |
|                      |
|----------------------|
|                      |
|                      |
|        contact       |
|                      |
|______________________|
*/
